@import url('./Components/fonts/stylesheet.css');

body {
  // font-family: 'Inter', sans-serif;
  font-family: 'Museo Sans Cyrl 500';

  margin: 0px;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  color: #E4E5EA;
  background: url('./Components/images/bg.png') center center/cover no-repeat;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$maxWidthContainer : 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


/* PC  */
@media (max-width: #{$md1 + px }) {}

/* TABLET  */
@media (max-width: #{$md2 + px }) {}

/* MOBILE */
@media (max-width: #{$md3 + px }) {}



/*///////////////////////////*/
#root {
  min-height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// .swiper-wrapper.swiper-slide,
// .swiper-slide {
//   width: 60%;
// }

.header {
  // position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  // min-height: 100vh;

  &__title {
    // background: linear-gradient(180deg, rgba(121, 121, 121, 0.4) 20.25%, #2d7995 69.58%);


  }
}

.main {
  flex: 1 1 auto;
}

.header__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;


  padding-top: 2.875rem;
  min-height: 4.5625rem;

  @media (max-width: #{$md3 + px }) {
    padding-top: 0;
    min-height: 3.4375rem;
    background: #000;
  }
}

/*///////////////////////////*/
.header__logo {}

.menu {
  & ul {
    @media (max-width: #{$md3 + px }) {
      column-gap: 0;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      width: 100%;


    }
  }



  &>ul>li>a {
    @media (max-width: #{$md3 + px }) {
      font-size: .75rem;
    }
  }

  @media (max-width: #{$md3 + px }) {
    overflow: hidden;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    top: 0;
    align-items: center;
    background: #000000;

    &.active {
      left: 0;
    }
  }
}

.hover_link {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    border: 1px solid rgb(61, 61, 61);
    width: 100%;
    bottom: -5px;
    opacity: 0;
    transition: all 0.4s;
  }

  &:hover {
    color: #b1b1b1;
  }

  &:hover::before {
    opacity: 1;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

._scroll {

  .header__wrapper {
    background: #ffffff;
    transition: all 0.5s ease 0s;
  }

  .header__container {
    min-height: 70px;
  }
}

.footer__label {
  color: var(--light-text, #E4E5EA);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

footer {
  @media (max-width: #{$md3 + px }) {
    background: #000;
  }
}

// ///////////////////
.title {
  @media (max-width: #{$md3 + px }) {
    font-size: 2rem;
  }

  background: rgb(247, 247, 247);
  background: linear-gradient(90deg, rgba(247, 247, 247, 1) 0%, rgba(241, 132, 64, 1) 46%, rgba(224, 20, 17, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Museo Sans Cyrl 700';
  text-transform: uppercase;
  z-index: 1;
}

.button {
  border: 1px solid #23599c;
  padding: .625rem 0px;
  width: 11.25rem;
  transition: all 0.3s;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -22px;
    background: url('./Components/images/02.png') center center/cover no-repeat;
    width: 10px;
    height: 48px;
    transform: rotate(180deg);
  }

  &::after {
    content: '';
    position: absolute;
    right: -2px;
    top: -22px;
    background: url('./Components/images/02.png') center center/cover no-repeat;
    width: 10px;
    height: 48px;
    transform: rotate(0deg);
  }

  &:hover {
    background: #000;
  }
}

.item {
  position: relative;
  width: 10rem;
  height: 10rem;

  @media (max-width: #{$md3 + px }) {
    width: 100%;
    height: auto;
  }

  &:hover::before {
    opacity: 1;
  }

  cursor: pointer;
  // background-color: rgb(254 254 254 / 20%);
  background: url('./Components/images/shadow.png') center center/cover no-repeat;

  &::before {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    content: '';
    position: absolute;
    // background: rgba(255, 255, 255, 0.2);
    // background-color: rgb(254 254 254 / 20%);
    background: url('./Components/images/hovershadow.png') center center/cover no-repeat;

    opacity: 0;



  }
}